@import '../index.css';

#gameContainer {
    position: relative;
    height: 70vh;
    width: 100%;
    background-color: var(--secondary-color);
    display: grid;
    gap: 2px;
    grid-template-rows: repeat(21, 3vh);
    grid-template-columns: repeat(58, 3vh);
}

.gameelementparent {
    position: relative;
    height: 100%;
    width: 100%;
}

.gameelementchild {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 2px;
    border-radius: 0.3rem;
    opacity: 30%;
}

.gameelementchild:hover {
    opacity: 100%;
}