@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;500&display=swap');

:root {
    --main-color: rgb(24, 24, 24); /*rgb(43, 43, 43)*/
    --secondary-color: rgb(255, 255, 255); /*rgb(240, 219, 79)*/
}

* {
    font-family: "Roboto Mono", monospace;
}

body {
    background-color: var(--main-color);
    margin: 0;
    overflow: overlay;
}

#bottomSection {
    position: relative;
    width: auto;
    height: 100px;
    top: 15vh;
    background: var(--secondary-color);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#loader {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    margin: 0;
}

#page {
    position: relative;
    height: auto;
    width: 100%;
}

#wrapper {
    position: relative;
    height: auto;
    width: 100%;
    top: 0px;
    left: 0px;
}

#topbarPositioner {
    /*
    position: -webkit-sticky;
    position: sticky;
    */
    position: relative;
    width: 100%;
    height: 84px;
    top: 0px;
    z-index: 1;

    background-color: var(--secondary-color);
}

.topbar {
    position: relative;
    height: 64px;
    width: 1080px;
    left: 50%;
    margin-left: -540px;
    top: 10px;
}

.logo {
    background-color: var(--secondary-color);
    position: absolute;
    top: 15%; left: 40px;
    height: 70%;
    width: 100px;
}

.topbarMenus {
    position: relative;
    float: right;
    top: 0%;
    height: 100%;
    width: 400px;
}

.topbarbutton {
    background: none;
    position: relative;
    border: none;
    height: 100%;
    width: auto;
    left: 10px;

    font-size: 1.3em;
    color: var(--main-color);
}

.topbarbutton:hover {
    text-decoration: underline;
}

.divider {
    position: relative;
    width: 15px;
    height: auto;
    display: inline-block;
}

#aboutSection {
    position: relative;
    top: 300px;
    margin-top: -220px;
    left: 50%;
    margin-left: -540px;
    height: auto;
    width: 1080px;
    z-index: -1;
}

#aboutDivider {
    position: relative;
    height: 350px;
}

.title {
    position: absolute;
    height: 100%;
    width: 200px;

    font-size: 2.5em;
    color: var(--secondary-color);
}

.titleText {
    position: relative;
    top: 40%;
    left: 70%;
}

#about {
    position: absolute;
    left: 350px;
    height: 300px;
    width: 600px;

    display: flex;
    padding-right: 50px;
    padding-left: 50px;
    align-items: center;

    border-radius: 15px;
    background-color: var(--secondary-color);
    /*
    border-style: solid;
    border-color: var(--secondary-color);
    */
}

#aboutText {
    text-align: justify;
    text-indent: 20px;
    font-size: 1.2em;

}

.gg-chevron-down {
    color: var(--secondary-color);
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,2));
    top: 50px;
    left: 50%;
    bottom: 12vh;
    border-left: 22px;
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}
   
.gg-chevron-down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 4px;
    top: 2px
} 

#curriculumSection {
    position: relative;
    height: auto;
    width: 800px;
    top: 450px;

    display: grid;
    gap: 1.5rem;
}

.curriculumBubble {
    position: relative;
    height: auto;
    width: 115vh;
    top: 0px;
    font-size: 1.5rem;

    display: grid;
    gap: 1.5rem;
}

.curriculumTitle {
    position: relative;
    left: 40vh;
    width: 300px;
    height: auto;
    color: rgb(214, 214, 214);
}

.curriculumTitle:hover {
    text-decoration: underline;
    color: var(--secondary-color);
    cursor: default;
}

.curriculumList, .curriculumList:hover {
    position: relative;
    height: auto;
    width: auto;
    font-size: 1.2rem;
    color: rgb(214, 214, 214);
    top: -20px;
    left: 45vh;

    cursor: default;
    transition: all 0.25s ease 0s, transform 0.05s ease 0s;
    transition-property: all, transform;
    transition-duration: 0.25s, 0.05s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}

.aboutButton {
    background: none;
    border: none;

    color: rgb(214, 214, 214);
    font-size: 1.3rem;
}

.aboutButton:hover {
    text-decoration: underline;
}

#projectsSection {
    position: relative;
    top: 450px;
    height: 800px;
    width: 1264px;
    left: 50%;
    margin-left: -632px;
    border-radius: 25px;
    background-color: var(--secondary-color);
    z-index: -1;
}

.grid-container {   
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 10px;
}

.grid-item {
    padding: 8px 0;
    font-size: 10px;
    text-align: center;
}

.project-grid {
    display: grid;
    position: relative;
    height: auto;
    width: auto;

    grid-template-columns: 10% 35% 10% 35% 10%;
    top: 20vh;
    row-gap: 20vh;
}

.project-grid-item {
    opacity: 0.75;
    height: 45vh;
    text-align: center;
    
    border-radius: 15px;
    background-color: var(--secondary-color);

    transition: all 0.25s ease 0s, transform 0.05s ease 0s;
    transition-property: all, transform;
    transition-duration: 0.25s, 0.05s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}

.project-grid-item:hover {
    opacity: 1;

    transition: all 0.25s ease 0s, transform 0.05s ease 0s;
    transition-property: all, transform;
    transition-duration: 0.25s, 0.05s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}

.sectionWrapper {
    position: relative;
    height: auto;
    width: auto;
}